<% set_meta_tags(title:'パスワードの変更', description:'パスワード変更画面です。') %>
<div class="container bg-white">
  <div class="container devise_field bg-white p-2">
    <section>
      <h2 class="fs-4 my-2"><%= t('.change_your_password') %></h2>
    
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
      
        <div class="field my-2">
          <%= f.label :password, t('.new_password'), class: 'user_form_label' %><br />
          <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'user_form_field' %>
        </div>
      
        <div class="field my-2">
          <%= f.label :password_confirmation, t('.confirm_new_password'), class: 'user_form_label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'user_form_field' %>
        </div>
      
        <div class="actions content-center my-4">
          <%= f.submit t('.change_my_password'), class:"btn btn-primary my-2" %>
        </div>
      <% end %>
      
      <div class="my-4">
        <%= render "devise/shared/links" %>
      </div>
    </section>
  </div>
</div>
