<% set_meta_tags(title:'ログイン', description:'ログイン画面です。') %>
<section>
  <div class="container devise_field">
    <div class="content-center">
      <%= link_to root_path, data: {turbo: false} do %>
        <%= image_tag "title-black.svg", alt:"タイトル", class:"title-top rounded my-2" %>
      <% end %>
    </div>
    <h2 class="fs-4 my-2"><%= t('.sign_in') %></h2>
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field my-2">
        <%= f.label :email, class: 'user_form_label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'silver-calendar@example.com', class: 'user_form_field' %>
      </div>
    
      <div class="field my-2">
        <%= f.label :password, class: 'user_form_label' %>
        <%= link_to t(".forgot_your_password"), new_password_path(resource_name), class: 'float-right' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'user_form_field' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field my-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="actions content-center my-4">
        <%= f.submit t('.sign_in'), class:"btn btn-primary" %>
      </div>
    <% end %>

    <div class="my-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
