<% set_meta_tags(title:'ログイン', description:'ログイン画面です。') %>
<div class="container col-9">
  <h2 class="fs-4 my-2"><%= t('.sign_in') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field my-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field my-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field my-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit t('.sign_in'), class:"btn btn-primary my-2" %>
    </div>
  <% end %>

  <div class="my-2">
    <%= render "devise/shared/links" %>
  </div>
</div>
